@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


a {
    color: #00ff88;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 10px #00ff00;
}

h1 {
    color: #00e0e0;
    text-align: center;

}


pre {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px solid #333;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


hr {
    border: none;
    border-top: 1px solid #333;
    margin: 20px 0;
}

nav {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center; 
}

nav a {
    margin: 0 15px; 
    color: #00ff88;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111; 
    color: #00ff66; 
}



img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}